<?xml version="1.0" encoding="UTF-8"?>
<cConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LocalPort>1337</LocalPort>
  <SyncMode>false</SyncMode>
  <SimulationTimePerFrame>0.1</SimulationTimePerFrame>
  <ImageResolutionWidth>256</ImageResolutionWidth>
  <ImageResolutionHight>256</ImageResolutionHight>
  <SendGridPosition>true</SendGridPosition>
  <MovementSpeed>3</MovementSpeed>
  <CameraDisplayWidth>256</CameraDisplayWidth>
  <FovHorizontal>120</FovHorizontal>
  <FovVertical>90</FovVertical>
</cConfiguration>